# Maven编译目录
target/
/target
/target/
/root/nft-whale-tracker/target/

# 日志文件
*.log
nft-tracker.log

# IDE文件
.idea/
.vscode/
*.iml

# 临时文件
*.tmp
*.bak

# 系统文件
.DS_Store
Thumbs.db

target/*
target/classes/*
restart_jobs.sh
start_all.sh
